{% extends "layout.html" %}

{% block body %}
    <div class="bt3">
         <h1>Payment</h1>
    </div>
    <div class="container">
    <form action ="/Submit" method="post">
        Credit Card Number <input type = "text" name ="CcdNo" placeholder="Number" >
        Card Holder Name <input type = "text" name ="CardHolder" placeholder="Card Holder">
        Expiration Date <input type = "text" name ="ExpirationDate" placeholder="MM/YY exp (02/21)" >
        Security Code <input type = "password" name ="SecurityCode" placeholder="cvv" >
        Amount <input type = "number" min="1" name ="Amount" step =0.01 placeholder=0.00>

        <input type="submit" value="Pay">
    </form>
</div>
{% endblock %}